body { /* Especificações globais */
    color: #ddd;  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191818;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

h2 {
    font-size:xx-large;
    padding-bottom: 30px;
    color: #ddd;
    display: flex;
    justify-content: center;
    line-height: 5px;
}

#registerCard, #loginCard{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 100px;
    border: none;
    border-radius: 60px;
    background: linear-gradient(90deg, #000000, #3533cd); 
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); 
}

input {
    color: #ddd;
    background-color: #191818;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: flex;
    justify-content: start;
}

a {
    color: #00F5FF;
}

button {
    font-size: x-large;
    color: #ddd;
    background-color: #3533cd;
    border-radius: 30px;
    border: none;
    height: 60px;
    width: 60;
}

/**************CSS da matrícula********************/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #000000, #3533cd);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.card h2 {
    margin-top: 0;
    font-size: 18px;
}

.card p {
    font-size: 15px;
    margin-top: 0;
}

.card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.table-container {
    position: fixed; /* Fixa a tabela no topo da tela */
    top: 0; /* Alinha a tabela com o topo da tela */
    width: 100%; /* Faz a tabela ocupar 100% da largura da tela */

}

#schedule {
    width: 100%; /* Faz a tabela ocupar 100% da largura do seu contêiner */
    table-layout: fixed; /* Faz com que as células da tabela tenham larguras iguais */
}

table {
    min-width: 800px;
    border-collapse: collapse;
    white-space: nowrap;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
